<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__.'/app')
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        'array_syntax' => ['syntax' => 'short'],
    ])
    ->setFinder($finder)
;
